services:
  backend:
    build: ./backend
    container_name: django-backend
    command: gunicorn wolontariat_krakow.wsgi:application --bind 0.0.0.0:8000 --timeout 120 --workers 2 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8080:8000"
    env_file:
      - .env
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      target: dev
    container_name: react-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm run dev"
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    environment:
      - NODE_ENV=development
    depends_on:
      - backend

  db:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
